<!DOCTYPE html>
<html>
  <head>
    <title>TechStyleNews</title>
    <meta name="description" content="article qui répondent à vos questions.">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body style="<%= action_name == "index" && controller_name == 'posts' ? 'background-color: #353535;' : 'background-color: #76918B;'%>">
    <%= render 'shared/navbar' %>
    <%= yield %>
  </body>
</html>
